.Rhistory
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*.o
*.so
vignettes/ctsmTMB_cppfiles
ctsmTMB_cppfiles
git_push.sh
src/*.o
src/*.so
src/*.tmp
backup
maintenance
inst/doc
/doc/
/Meta/
CRAN-SUBMISSION
doc
dev